h1 {
  font-size: 2em;
  margin: .67em 0
}

h2 {
  font-size: 1.8em;
  margin: .67em 0
}

h3 {
  font-size: 1.5em;
  margin: .67em 0
}

h4 {
  font-size: 1.3em;
  margin: .67em 0
}

h5 {
  font-size: 1.2em;
  margin: .67em 0
}

h6 {
  font-size: 1em;
  margin: .67em 0
}