div#pwaInstallBanner
      img(
        src="https://yesandnoandperhaps.cn/img/app_ic-playstore.png"
        alt="App 图标"
      )
      div
        div yesandnoandperhaps
        div 安装PWA应用程序，离线阅读与沉浸体验兼得
      div.install-buttons
        button#pwaInstallConfirm 安装
        button#pwaInstallDismiss 不感兴趣